body {
    background: #202020;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.page-container-board{
    margin-top: 55px;
}


.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #D9D9D9;
}

#menuDeleteAccount {
    margin-top: auto;
    color: red;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

#mainlogoimg {
    border-radius: 10px;
    width: 40%;
    height: auto;
    margin-top: 7vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#loginButton {
    margin-top: 7vh;
}

.whiteText {
    color: white;
}

#loginText {
    margin-top: 15%;
}

.chess-board {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.chess-board th {
    padding: .5em;
    color: white;
    text-align: center;
}

@media (min-width: 1px){
    .chess-board td {
        border: 2px solid;
        width: 2.5em;
        height: 2.5em;
    }
}

@media (min-width: 447px){
    .chess-board td {
        border: 2px solid;
        width: 3em;
        height: 3em;
    }
}

@media (min-width: 576px){
    .chess-board td {
        border: 2px solid;
        width: 4em;
        height: 4em;
    }
}

@media (min-width: 780px){
    .chess-board td {
        border: 2px solid;
        width: 5em;
        height: 5em;
    }
}

.chess-board .light {
    background: #41BAE0;
}

.chess-board .dark {
    background: #005099;
}